/*
  These styles are for the home page.
*/

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #a3a3a3;
}

.add-users {
  width: 80%;
  margin: 3% auto;
  display: grid;
  grid-template-columns: 50% 50%;

}

/* title of the nav */
#title {
  transition: color 0.3s ease;
  font-size: 2.5rem;
  text-decoration: none;
  color:#fff;
  margin: 0.5rem 3rem;
  padding: 0;
}

#title:hover {
  color: #333;
}

.container label, .container input .container textarea, .container button{
  display: block;
  padding: 0.5rem 0;
}

.container input {
  padding: 0.5rem;
}

.container label {
  margin: 0.5rem 0 0 0;
  color: #444;
  font-size: 1.5rem;
}

.container textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
}

.container button {
  transition: background-color 0.3s ease;
  margin: 15px 0;
  width: 20rem;
  color: #ccc;
  background-color: #222;
}

.container button:hover {
  cursor: pointer;
  background-color: #555;
}

/* table of users */
.users-view table {
  border-collapse: collapse;
}

.users-view table th, .users-view table td {
  border: 2px black solid;
  padding: 1rem;
}

.users-view table th {
  text-align: left;
}

.users-view table td {
  text-align: center;
}

.users-view table th {
  transition: background-color 0.3s ease;
  background-color: #666;
}

.users-view table tr {
  transition: background-color 0.3s ease;
}

.users-view table tr:hover, .delete-button {
  cursor: pointer;
}

.users-view table tr th:hover {
  background-color: #aaa;
}

.users-view table tr:hover {
  background-color: #7a7272;
}

.delete-button {
  background-color: rgba(255, 0, 0, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delete-button, .update-button {
  transition: background-color 0.3s ease;
  border: 1px black solid;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5rem;
  margin: 0.2rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delete-button {
  background-color: #e94d4d99;
}

.delete-button:hover {
  background-color: #df1d1d;
}

.update-button {
  background-color: #8b8bf3;
}

.update-button:hover {
  background-color: #5959e7;
}

#no-users {
  transition: color 0.3s ease;
  color: #333;
  height: 1rem;
}

#no-users:hover {
  color: #555;
}

/* View of messages */
.messages-view {
  transition: background-color 0.3s ease;
  background-color: #535353;
  color: #000;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

.messages-view:hover {
  cursor: pointer;
  background-color: #666;
  color: #fff;
}

#message {
  font-size: 20px;
}

/* Navigation */
header nav {
  transition: background-color 0.3s ease;
  padding: 0.5rem;
  background-color: #444;
}

header nav:hover {
  background-color: #535353;
}

header ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 50% 40% 10%;
}

header ul li {
  margin: 0.5rem;
}

header nav ul li #home-link {
  float: right;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  margin: 0;

}

/* Links */
header nav ul li #about-link {
  float: right;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  margin: 0;
}


header nav ul li #about-link:hover {
  cursor: pointer;
  color: #333;
}

header nav ul li #home-link:hover {
  cursor: pointer;
  color: #333;
}