{% extends 'layout.html' %}
{% block content %}

  <div class="container">
    <form action="/add-user" method="POST">
      <label for="name-user">Name User</label>
      <input type="text" name="name-user" id="name-user" placeholder="Name" autofocus>

      <label for="age-user">Age User</label>
      <input type="number" name="age-user" id="age-user" placeholder="Age">

      <label for="description-user">Description User</label>
      <textarea name="description-user" id="description-user" cols="30" rows="10" placeholder="Description"></textarea>

      <button type="submit" id="add-button">Add</button>
    </form>

  </div>

  {% if users_list != [] %}
  <div class="users-view">
      <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        {% for user in users_list %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.description }}</td>
          <td>
            <a href="/delete-user/{{ user.id }}" class="delete-button">Delete</a>
            <a href="/update-user/{{ user.id }}" class="update-button">Update</a>
          </td>
        </tr>
        {% endfor %}
      </table>
  </div>

  {% else %}
  <h1 id="no-users">Not users yet</h1>
  {% endif %}

{% endblock %}